.card {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  margin: 10px;
}
.card:hover {
  background-color: bisque;
  color: black;
}
.card-buttons {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-between;
  background-color: black;
  border-radius: 20px;
}
p {
  color: white;
}
p:hover {
  color: black;
}
button {
  border-radius: 50px;
  padding: 10px;
}
button:hover {
  background-color: azure;
}
